/* General */
html {
	--foreground-color: black;
	--background-color: white;
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: black;
		--background-color: black;
		--foreground-color: white;
		color: white;
	}
}
main {
	font-size: 16px;
	z-index: 2;
	margin: 2em auto;
	max-width: 50ch;
}
h1 {
	text-align: center;
}
textarea, input {
	background-color: unset;
	color: unset;
	border: 1px solid currentColor;
	font-size: inherit;
}
textarea {
	width: 100%;
}
#screen-flash {
	z-index: -1;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.section {
	margin: 1em 0;
}

/* Inputs */
.good-name {
	display: grid;
	grid:
		"a" auto
		"b" auto
		/ auto;
	justify-items: stretch;
	align-items: stretch;
	margin: 0 1em;
}
.good-name input {
	display: block;
	appearance: none;
	grid-area: a;
	border: 1px solid currentColor;
	margin: 0;
}
.good-name svg {
	/* Icon */
	margin: 0.5em;
	min-width: 24px;
	max-width: 90px;
	fill: currentColor;
	grid-area: a;
}
.good-name input:checked {
	background-color: var(--foreground-color);
}
.good-name input:checked + svg {
	fill: var(--background-color);
}
.good-name span {
	grid-area: b;
	text-align: center;
	color: var(--accent-color);
	margin: 0.3em;
}
button {
	background: unset;
	border: 1px solid currentColor;
	color: currentColor;
	padding: 1em 2em;
}
:disabled {
	color: orange;
	background: repeating-linear-gradient(-45deg, 
		orange, 
		orange 1px,
		var(--background-color) 1px,
		var(--background-color) 6px
	);
}

/* Mode Section */
.mode {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.mode label {
	flex-grow: 1;
	flex-basis: 1ch;
}
input:checked {
	background-color: currentColor;
}

/* Input / Code Section */
#translated {
	white-space: pre-wrap;
	word-break: break-word;
}

/* Settings Section */
details > div {
	border: 1px solid black;
	padding: .5em;
}
.settings label {
	display: flex;
	justify-content: space-between;
}
.settings input[type="number"] {
	width: calc(4ch + 2em);
}

/* Transmit Section */
.transmit {
	justify-content: center;
	display: flex;
}
.transmit label span {
	display: none;
}