@font-face {
	font-family: 'Poppins';
	src: url("./Poppins/Poppins-Regular.ttf") format("truetype")
}

html {
	font-display: swap;
	--accent-color: #f5df4d;

	background-color: #141414;
	color: white;
	font-family: "Poppins";
}
body {
	margin: 0;
}
.blinking main {
	display: none;
}
main {
	box-sizing: border-box;
	width: 100vw;
	max-width: 1500px;
	margin: 0 auto;
	height: 100vh;
	/* overflow: hidden; */
	display: grid;
	grid-template:
		"title" min-content
		"message" max-content
		"code" min-content
		"settings" 1fr
		"install" min-content / 1fr;
	font-size: 16px;
	z-index: 2;
}
h1, h2, h3 {
	color: var(--accent-color);
	margin: 0;
}
h1 {
	grid-area: title;
	margin-top: 35px;
	text-align: center;
	font-size: 25px;
}
h2 {
	font-size: 16px;
}

/* Style the sections */
section {
	background-color: #2d2d2d;
	padding: 14px;
	border-radius: 10px;
}

/* Style the individual sections */
section#message {
	grid-area: message;
}
section#message, section#encoded {
	margin: 15px 15px 0 15px;
}
section#encoded div {
	grid-area: code;
	color: var(--accent-color);
	font-weight: bold;
}
section#settings {
	grid-area: settings;
	bottom: 0;
	margin-top: 14px;
	border-radius: 20px 20px 0 0;
	padding: 30px;
}
section#install {
	color: var(--accent-color);
	grid-area: install;
	border-radius: none;
	text-align: center;
}

/* Within the sections are horizontal flexible divs */
section > div {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	margin: 1em 0;
}
section > div:first-child {
	margin-top: unset;
}
/* Put a little space between the horizontal items */
section > div > * {
	margin-left: 10px;
}
section > div > *:first-child {
	margin-left: unset;
}

/* Style the advanced settings */
details[open] summary {
	color: var(--accent-color);
}
details label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}
input[type="number"] {
	width: calc(4ch + 2em);
	background-color: #141414;
	border-radius: 15px;
	padding: 1px 15px;
	text-align: center;
}
details {
	line-height: 100%;
}
small {
	color: #B6B6B6;
}
summary {
	display: block;
	text-align: center;
}

/* The cards that specify the output modes */
.card {
	flex: 1 1 0;
}
.card label {
	width:  100%;
	height: 100%;
	box-sizing:  border-box;
	background-color: #464646;
	font-size: 12px;
	display: flex;
	justify-content: flex-end;
	padding: 15px;
	border-radius: 10px;
	flex-direction: column;
	/* aspect-ratio: 0.98; */
	/* max-width: 200px; */
}
.card label::after {
	content: "Off";
	color: #A0A0A0;

	font-weight: bold;
}

.card input:checked + label {
	background-color: #5C5C5C;
}
.card input:checked + label::after {
	content: "On";
	color: var(--accent-color);
}

.card input:disabled + label {
	background-color: #363636;
}
.card input:disabled + label::after {
	content: "Disabled";
	color: #5F5F5F;
}

/* Style the icons.  (--lightning color is just for the screen flash icon.) */
.card label svg {
	stroke: #A0A0A0;
	flex-grow: 1;
	--lightning-color: #A0A0A0;
	fill: none;
}
.card input:checked + label svg {
	fill: var(--accent-color);
	stroke: var(--accent-color);
	--lightning-color: none;
}
.card input:disabled + label svg {
	stroke: #5F5F5F;
	--lightning-color: #5F5F5F;
}

/* Style the label span */
.card input:disabled + label span {
	color: #5F5F5F;
}
.card span {
	font-weight: bold;
}

/* Style focus (Our input[type="checkbox"] is 0 width and 0 height so it's focus styles are not visible to a keyboard user. That's ok though, because we want the label to look like it has the focus anyway.) */
:focus-visible, :not(summary):focus-visible + label {
	outline: 1px solid #FFED79;
	outline-offset: 2px;
}

/* Style inputs */
textarea, input, button {
	resize: none;
	color: unset;
	vertical-align: middle;
	border: unset;
	background-color: unset;
	font-size: inherit;
}
input[type="checkbox"] {
	appearance: none;
	position: absolute;
	margin: 0;
	width: 0;
	height: 0;
	outline: 0;	
}
textarea {
	width: 100%;
	height: 100%;
	font-family: inherit;
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
}
#screen-flash {
	z-index: -1;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.for-screen-reader {
	/* display: none; */
	position: absolute;
	right: 100vw;
	overflow: hidden;
}

/* Style the transmit and repeat section */
.transmit {
	align-items: center;
}
.transmit button {
	font-size: 20px;
	flex-grow: 1;
	color: #141414;
	background-color: #f5df4d;
	height: 60px;
	border-radius: 30px;
}
.transmit button:hover {
	background-color: #FFED79;
}
.transmit button:active {
	background-color: #F5DF4D;
}
.transmit svg {
	fill: #464646;
}
.transmit label {
	border-radius: 50%;
}
.transmit input:checked + label svg {
	fill: var(--accent-color);
	stroke: black;
}

/* Input / Code Section */
#translated {
	white-space: pre-wrap;
	font-family: inherit;
	word-break: break-word;
}

/* Install PWA Section */
@media (display-mode: standalone) {
	#install {
		display: none;
	}
}

/* Tablet / desktop styleing */
@media(min-width: 850px) {
	main {
		grid-template: 
		"title title" min-content
		"message settings" 1fr
		"code settings" min-content
		"install install" min-content / 1fr 1fr;
		padding: 60px;
	}
	h1 {
		font-size: 31px;
		margin-top: 11px;
	}
	section#message, section#encoded, section#settings {
		margin: 20px;
		border-radius: 10px;
	}
	#install {
		font-size: 25px;
		background-color: unset;
	}
	#settings {
		border-radius: unset;
	}
}