@font-face {
	font-family: 'Poppins';
	src: url("./Poppins/Poppins-Regular.ttf") format("truetype")
}

html {
	--accent-color: #f5df4d;

	background-color: #141414;
	color: white;
	font-family: "Poppins";
}
body {
	margin: 0;
}

/* General */
/* html {
	--foreground-color: black;
	--background-color: white;
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: black;
		--background-color: black;
		--foreground-color: white;
		color: white;
	}
} */
.blinking main {
	display: none;
}
main {
	font-size: 16px;
	z-index: 2;
	/* margin: 2em auto; */
	/* max-width: 50ch; */
}
h1, h2, h3 {
	color: var(--accent-color);
	margin: 0;
}
h1 {
	margin-top: 35px;
	text-align: center;
	font-size: 25px;
}
h2 {
	font-size: 16px;
}
section {
	background-color: #2d2d2d;
	padding: 14px;
	margin: 15px;
	border-radius: 10px;
}
section > div {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin: 1em 0;
}
section#encoded div {
	color: var(--accent-color);
	font-weight: bold;
}
section#settings {
	/* position: sticky; */
	bottom: 0;
	margin: 14px 0;
	border-radius: 20px 20px 0 0;
	padding: 30px;
}

details[open] summary {
	color: var(--accent-color);
}
summary {
	display: block;
	text-align: center;
}

/* The cards that specify the output modes */
label.card {
	font-size: 12px;
	display: flex;
	justify-content: flex-end;
	flex: 1 1 0;
	padding: 15px;
	margin-left: 10px;
	border-radius: 10px;
	flex-direction: column;
	position: relative;
	aspect-ratio: 0.98;
	max-width: 200px;
}
label.card > * {
	z-index: 1;
}
label.card:first-of-type {
	margin-left: unset;
}
label.card input {
	appearance: none;
	/* display: contents; */
	/* -webkit-appearance: none; */
	order: 1;
}
/* The checkbox's ::before element is used as the background of the card. */
label.card input::before {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 10px;
	background-color: #464646;
	z-index: -1;
}
label.card input:checked::before {
	background-color: #5C5C5C;
}
label.card input:disabled::before {
	background-color: #363636;
}
/* The checkbox's ::after element is used to add the On/Off/Disabled text. */
label.card input::after {
	z-index: 4;
	color: #A0A0A0;
	content: "Off";
}
label.card input:checked::after {
	display: block;
	content: "On";
	color: var(--accent-color);
}
label.card input:disabled::after {
	content: "Disabled";
	color: #5F5F5F;
}

/* Style the icons.  (--lightning color is just for the screen flash icon.) */
label.card svg {
	stroke: #A0A0A0;
	flex-grow: 1;
	--lightning-color: #A0A0A0;
	fill: none;
}
label.card input:checked + svg {
	fill: var(--accent-color);
	stroke: var(--accent-color);
	--lightning-color: none;
}
label.card input:disabled + svg {
	stroke: #5F5F5F;
	--lightning-color: #5F5F5F;
}

/* Style the label span */
label.card input:disabled + svg + span {
	color: #5F5F5F;
}
label.card span {
	font-weight: bold;
}

textarea, input, button {
	color: unset;
	border: unset;
	background-color: unset;
	font-size: inherit;
}
textarea {
	width: 100%;
	font-family: inherit;
	max-width: 100%;
	min-width: 100%;
}
#screen-flash {
	z-index: -1;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.for-screen-reader {
	/* display: none; */
	position: absolute;
	right: 100vw;
	overflow: hidden;
}

/* Style the transmit and repeat section */
.transmit button {
	margin-left: 10px;
}
.transmit button {
	font-size: 20px;
	flex-grow: 1;
	color: #141414;
	background-color: #f5df4d;
	height: 60px;
	border-radius: 30px;
}
.transmit button:hover {
	background-color: #FFED79;
}
.transmit button:active {
	background-color: #F5DF4D;
}
.transmit label {
	width: 60px;
	/* text-align: center; */
	display: grid;
	grid-template:
		"a" /1fr;
}
.transmit label svg {
	/* box-sizing: border-box; */
	grid-area: a;
	/* padding: 10px; */
}
.transmit input {
	/* display: none; */
	grid-area: a;
	/* border: none; */
	/* position: absolute; */
	appearance: none;
	/* width: 100%; */
	/* height: 100%; */
	/* left: 0; */
	/* top: 0; */
	border-radius: 50%;
	background-color: #464646;
}
.transmit input:checked {
	background-color: var(--accent-color);
}
.transmit input:checked + svg {
	color: #464646;
}

/* Input / Code Section */
#translated {
	white-space: pre-wrap;
	font-family: inherit;
	word-break: break-word;
}

.settings label {
	display: flex;
	justify-content: space-between;
	margin: .5em 0;
}
.settings input[type="number"] {
	width: calc(4ch + 2em);
}

/* Install PWA Section */
.install {
	text-align: center;
}
@media (display-mode: standalone) {
	.install {
		display: none;
	}
}